= form_for @note do |f|
  - if @note.errors.any?
    #error_explanation
      %h2= "#{pluralize(@note.errors.count, "error")} prohibited this note from being saved:"
      %ul
        - @note.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label '标题'
    = f.text_field :title

    = f.label :内容
    = f.text_area :content

    = f.hidden_field :knowledge_id, valuse: params[:knowledge_id]

  .form-actions
    = f.submit '提交', class: 'btn btn-success'
    &nbsp;
    = link_to '返回', :back, class: 'btn'
