= form_for @note do |f|
  .field
    = f.label :content, '标题'
    = f.text_field :title

  .field
    = f.label :content, '内容'
    = f.text_area :content, class: 'textarea'

    = f.hidden_field :knowledge_id, valuse: params[:knowledge_id]

  .form-actions
    = f.submit '提交', class: 'btn btn-success'
    &nbsp;
    = link_to '返回', (@note.new_record? ? @knowledge : @note), class: 'btn'
