%p#notice= notice

%p
  %h4
    = "#{@note.knowledge.title} 的笔记 - #{@note.title}"
%hr
%div
  = @note.content
%br
.form-actions
  = link_to @note.user.name, @note.user
  在学
  = link_to @note.knowledge.title, @note.knowledge
  %br.big
  = @note.updated_at.getlocal
  %div.pull-right
    = link_to '编辑', edit_note_path(@note)
    \|
    = link_to '返回', @note.knowledge
