%div.post
  %h4.pull-left
    = "#{@note.knowledge.title} 的笔记 - #{@note.title}"

  %div.pull-right
    %div.reputations
      -if operable(@note)
        = link_to edit_note_path(@note) do
          %i.icon-edit
        %span.w5
        = link_to @note, method: :delete, confirm: '你确定要删除这条笔记吗？'  do
          %i.icon-trash

  %br
  %br
  = link_to @note.user.name, @note.user
  在学
  = link_to @knowledge.title, @knowledge

  -if operable(@note)
    = link_to new_note_path(knowledge_id: @knowledge.id), class: 'pull-right' do
      继续写笔记
  %hr.clear

%div.text
  = raw @note.content

%br.big

-if current_user
  .pull-right
    = collect_link(@note)
    &nbsp;
    =link_to vote_path(@note, 'useful'), remote: true, method: :post do
      %i.icon-thumbs-up
    %span.useful-count
      =@note.repute_count('useful')

    &nbsp;
    =link_to vote_path(@note, 'useless'), remote: true, method: :post do
      %i.icon-thumbs-down
    %span.useless-count
      =@note.repute_count('useless')
  %br

%hr

%div
  =render 'comments/index', commentable: @note

%div
  =render 'comments/new', commentable: @note
