%div
  %h4.pull-left
    = "#{@note.knowledge.title} 的笔记 - #{@note.title}"

  %div.pull-right
    %div.reputations
      =link_to reputed_note_path(repute_type: 'useful'), remote: true, method: :post do
        %i.icon-thumbs-up
      %span.useful-count
        =@note.repute_count('useful')

      %span.w5

      =link_to reputed_note_path(repute_type: 'useless'), remote: true, method: :post do
        %i.icon-thumbs-down
      %span.useless-count
        =@note.repute_count('useless')
      %span.w5

      -if operable(@note)
        = link_to edit_note_path(@note) do
          %i.icon-edit
        %span.w5
        = link_to @note, method: :delete, confirm: '你确定要删除这条笔记？'  do
          %i.icon-trash
        %span.w5
      = link_to @knowledge do
        %i.icon-circle-arrow-left

  %br
  %br
  = link_to @note.user.name, @note.user
  在学
  = link_to @knowledge.title, @knowledge

  -if operable(@note)
    = link_to new_note_path(knowledge_id: @knowledge.id), class: 'pull-right' do
      继续写笔记
  %hr.clear

%div.text
  = @note.content

%br.big
%hr

%div
  =render 'comments/index', commentable: @note

%div
  =render 'comments/new', commentable: @note
