= form_for @entry, remote: true do |f|
  .field
    = f.label :title, "标题"
    = f.text_field :title, "ng-model" => "currentEntry.title"
  .field
    = f.label :content, "内容"
    = f.text_area :content, class: 'span12', "ng-model" => "currentEntry.content"
  .actions
    %a.btn.btn-success{"ng-click"=>"update(currentEntry)"} 提交
    %a.btn{"ng-click"=>"next(currentEntry.title)"} 取消
