= form_for @entry do |f|
  .field
    = f.label :title, "标题"
    = f.text_field :title
  .field
    = f.label :content, "内容"
    = f.text_area :content, class: 'span12'
  .actions
    = f.submit '提交', class: 'btn btn-success'
