%h1 Listing entries

%table
  %tr
    %th Title
    %th Content
    %th
    %th
    %th

  - @entries.each do |entry|
    %tr
      %td= entry.title
      %td= entry.content
      %td= link_to 'Show', entry
      %td= link_to 'Edit', edit_entry_path(entry)
      %td= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Entry', new_entry_path
