= form_for @microblog = OriginMicroblog.new do |f|
  - if @microblog.errors.any?
    #error_explanation
      %h2= "#{pluralize(@microblog.errors.count, "error")} prohibited this microblog from being saved:"
      %ul
        - @microblog.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_area :content, :class=> 'span12 pull-right', :rows => 4

  .actions
    = f.submit '发布', :class=>'btn btn-success pull-right'
