%p#notice=notice
%div.microblog
  = link_to @microblog.user, class: 'pull-left' do
    = image_tag @microblog.user.image(:small)
  %div.pull-left.span10
    =link_to @microblog.user do
      = @microblog.user.name
    %small.pull-right
      = @microblog.created_at.time_ago
    .text.box
      = @microblog.content
%br.clear
%hr.big
%div.offset1
  = render 'comments/index', commentable: @microblog
  = render 'comments/new', commentable: @microblog
