%div
  %ul.nav.nav-pills
    %li
      = breadcrumb_li user_path(@user) do
        维基
      = breadcrumb_li knowledges_user_path(@user) do
        知识
      = breadcrumb_li resources_user_path(@user) do
        资源
      = breadcrumb_li notes_user_path(@user) do
        笔记
      = breadcrumb_li reviews_user_path(@user) do
        评论
      = breadcrumb_li experiences_user_path(@user) do
        心得
%hr.clear
