.span9
  =render 'menu'
  =render @partial_path
.span3
  %div.well.user-profile{"data-user-id" => @user.id}
    =image_tag @user.image, class: 'user-face'
    %hr.clear
    - if current_user.present? and current_user != @user
      - if current_user.can_follow?(@user)
        %span.follow-btn
          = follow_btn
        %hr
      - elsif current_user.followed?(@user)
        %span.follow-btn
          = unfollow_btn
    %h4
      = @user.name
    #user-describe
      = render 'description'
    %hr
    %p
      %b #{@user.name} 关注 #{link_to @user.following_ids.count, following_user_path(@user)} 人
    %p
      %b #{@user.name} 被 #{link_to @user.follower_ids.count, followers_user_path(@user)} 人关注
