.span9{"ng-app"=>"myApp", "ng-init"=>"userId='#{@user.id}'"}
  =render 'menu'
  %div{"ng-controller"=>"EntryList"}
    .span2
      =render 'entries/menu'
    .span10.box.left-line
      =render 'entries/tabs'
      =render 'entries/contents'
.span3
  %div.well.user-profile{"data-user-id" => @user.id}
    =image_tag @user.image, class: 'user-face'
    %hr.clear
    #user-describe
      = render 'description'
    %hr
    - if current_user.blank? or current_user != @user
      - if current_user.can_follow?(@user)
        %span.follow-btn
          = follow_btn
      - elsif current_user.followed?(@user)
        %span.follow-btn
          = unfollow_btn
    %p
      %b #{@user.name} 关注 #{link_to @user.following_ids.count, following_user_path(@user)} 人
    %p
      %b #{@user.name} 被 #{link_to @user.follower_ids.count, followers_user_path(@user)} 人关注
