.span9
  .span3.right-line
    /=simple_format @user.menu_entry
  .span9
    /=simple_format @user.default_entry
.span3
  %div.well.user-profile
    =image_tag @user.image, class: 'user-face'
    %hr.clear
    #user-describe
      = render 'description'
    %hr
    - if current_user.blank? or current_user != @user
      - if current_user.can_follow?(@user)
        %span.follow-btn
          = follow_btn
      - elsif current_user.followed?(@user)
        %span.follow-btn
          = unfollow_btn
    %p
      %b #{@user.name} 关注 #{link_to @user.following_ids.count, following_user_path(@user)} 人
    %p
      %b #{@user.name} 被 #{link_to @user.follower_ids.count, followers_user_path(@user)} 人关注
