%div#states
  - @states.each do |state|
    - statable = state.statable
    - auditable = state.auditable
    .state{id: "#{statable.class.name.underscore}-#{statable.id}"}
      - unless auditable.is_a? Relay
        = link_to statable.user, class: 'pull-left' do
          = image_tag statable.user.image(:small)
        %div.pull-left.span10
          = render 'states/normal', state: state, statable: statable
      - else
        = link_to auditable.user, class: 'pull-left' do
          = image_tag auditable.user.image(:small)
        .pull-left.span10
          =link_to auditable.user do
            = auditable.user.name
          转播：
          .relayed-box
            = render 'states/normal', state: state, statable: statable
      %br.clear
      %hr.low
  .pull-right
    = paginate @states, remote: true
