= form_for @experience do |f|
  .field
    = f.label '标题'
    = f.text_field :title

  .field
    = f.label :内容
    = f.text_area :content, class: 'textarea'

    = f.hidden_field :experienceable_type, value: @experienceable.class.name
    = f.hidden_field :experienceable_id, value: @experienceable.id

  .form-actions
    = f.submit '提交', class: 'btn btn-success'
    &nbsp;
    = link_to '返回', (@experience.new_record? ? @experienceable : @experience), class: 'btn'
