= form_for @experience do |f|
  - if @experience.errors.any?
    #error_explanation
      %h2= "#{pluralize(@experience.errors.count, "error")} prohibited this experience from being saved:"
      %ul
        - @experience.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label '标题'
    = f.text_field :title

    = f.label :内容
    = f.text_area :content

    = f.hidden_field :knowledge_id, valuse: params[:knowledge_id]

  .form-actions
    = f.submit '提交', class: 'btn btn-success'
    &nbsp;
    = link_to '返回', (@experience.new_record? ? @knowledge : @experience), class: 'btn'
