- if @experiences
  %h3
    %small 热门心得
  %br
  - @experiences.each do |experience|
    %div{style: 'padding-bottom: 15px;'}
      %div
        =link_to experience.user do
          = image_tag experience.user.image(:small), class: 'user-face'
      %div.pull-left.span10
        %h4
          =link_to experience.title, experience
          =link_to '#', class: 'toggle-content' do
            %span.pull-right.icon-caret-down
        %p
        =link_to experience.user.name, experience.user
        的
        =link_to experience.experienceable.title, experience.experienceable
        心得
        %br.big
        %div.text
          .short-content
            = raw short_content(experience)
          .whole-content.hidden
            = raw experience.content
        %p
        %small
          ="#{experience.reputations.useful.count}有用 #{experience.created_at.getlocal.to_date} "
          =link_to experience_path(experience, anchor: "comments") do
            ="（#{experience.comments.count}评论）"
    %br.clear
    %hr
