%h1 Listing experiences

%table
  %tr
    %th Title
    %th Content
    %th
    %th
    %th

  - @experiences.each do |experience|
    %tr
      %td= experience.title
      %td= experience.content
      %td= link_to 'Show', experience
      %td= link_to 'Edit', edit_experience_path(experience)
      %td= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Experience', new_experience_path
