%div.post
  %h4.pull-left
    = "#{@experience.experienceable.title} 的心得 - #{@experience.title}"

  %div.pull-right
    %div.reputations
      -if operable(@experience)
        = link_to edit_experience_path(@experience) do
          %i.icon-edit
        %span.w5
        = link_to @experience, method: :delete, confirm: '你确定要删除这条心得吗？'  do
          %i.icon-trash

  %br
  = link_to @experience.user.name, @experience.user
  在学
  = link_to @experienceable.title, @experienceable

  %br
  %small
    = @experience.updated_at.local

  %hr.clear

%div.text
  = raw @experience.content

%br.big

%br.big
.pull-right
  = collect_link(@experience)
  &nbsp;

  =link_to vote_path(@experience, 'useful'), remote: true, method: :post do
    %i.icon-thumbs-up
  %span.useful-count
    =@experience.repute_count('useful')

  &nbsp;
  =link_to vote_path(@experience, 'useless'), remote: true, method: :post do
    %i.icon-thumbs-down
  %span.useless-count
    =@experience.repute_count('useless')
%br

%hr

=render 'comments/index', commentable: @experience
=render 'comments/new', commentable: @experience
