%div#sidebar
  %ul.nav.nav-pills.nav-stacked
    = breadcrumb_li resources_path do
      %strong 广场

    = breadcrumb_li top_resources_path do
      更多学习资源
    = breadcrumb_li new_resource_path do
      创建学习资源

    %div.h358

    = breadcrumb_li top_experiences_resources_path do
      更多使用心得

    = breadcrumb_li top_reviews_resources_path do
      更多评论
