%div.profile
  .profile-left
    = image_tag @resource.image, class: 'normal pull-left'
    - if @resource.url.present?
      = link_to '参考地址', @resource.url, class: 'update-link', target: '_blank'
      %br.big
    = link_to '更新该资源', edit_resource_path(@resource), class: 'update-link'

  %div.info
    %h3
      = @resource.title
    %div
      = raw @resource.description

%br.clear
-if current_user
  %div.operations
    %hr
    = collect_link(@resource)
    &nbsp;
    我的评价:
    - Reputation::GradeTypes.each do |type|
      = link_to '', grade_path(@resource, type), method: :post, remote: true,
        class: "grade-#{type} grade-type #{type.to_i <= current_user.grade_state(@resource).to_i ? 'hard-graded-type icon-star' : 'icon-star-empty'}"
    %br
    %br

    =link_to new_review_path(resource_id: @resource) do
      %li.icon-pencil
      写评论
    &nbsp;
    =link_to new_experience_path(experienceable_id: @resource, experienceable_type: @resource.class.name) do
      %li.icon-file
      写使用心得
%hr

=render 'experiences/top_maxi'
=render 'reviews/top'
