%div.profile
  = image_tag @resource.image, class: 'normal pull-left'
  %div.info
    %h3
      = @resource.title
    %p
      = @resource.description
  %br.clear

%div.operations
  %hr
    = link_to collect_path(@resource, 'collect'), method: :post, remote: true,
    class: "alert collect-link" do
      %span
        = @collect_state.present? ? '已收藏' : '收藏'
      .icon-bookmark
    &nbsp;
  我的评价:
  - Reputation::GradeTypes.each do |type|
    = link_to '', grade_path(@resource, type), method: :post, remote: true,
      class: "grade-#{type} grade-type #{type.to_i <= @grade_state.to_i ? 'hard-graded-type icon-star' : 'icon-star-empty'}"
  %br
  %br

  =link_to new_review_path(resource_id: @resource) do
    %li.icon-pencil
    写评论
  &nbsp;
  =link_to new_experience_path(experienceable_id: @resource, experienceable_type: @resource.class.name) do
    %li.icon-file
    写使用心得
  %hr
=render 'experiences/top_maxi'
=render 'reviews/top'
