%div.profile
  .profile-left
    = image_tag @knowledge.image, class: 'normal pull-left'
    = link_to '更新该知识', edit_knowledge_path(@knowledge), class: 'update-link'
  .info
    %h3
      = @knowledge.title
    %div
      = raw @knowledge.description
%br.clear

-if current_user
  %div.operations
    %hr
    - Reputation::StudyTypes.each do |type|
      = link_to study_path(@knowledge, type), method: :post, remote: true, class: "study-type study-#{type}" do
        %span{class: "#{type == current_user.study_state(@knowledge) ? 'alert alert-success' : 'alert alert-info' }" }
          = type
      &nbsp;
    %br
    %br
    =link_to new_note_path(knowledge_id: @knowledge) do
      %li.icon-pencil
      写笔记
    &nbsp;
    =link_to new_experience_path(experienceable_id: @knowledge.id, experienceable_type: @knowledge.class.name) do
      %li.icon-file
      写学习心得
%hr

=render 'experiences/top_maxi'
=render 'notes/top'
