= form_for @review do |f|
  .field
    = f.label :content, '标题'
    = f.text_field :title

  .field
    = f.label :content, '内容'
    = f.text_area :content, class: 'textarea'

    = f.hidden_field :resource_id, valuse: params[:resource_id]

  .form-actions
    = f.submit '提交', class: 'btn btn-success'
    &nbsp;
    = link_to '返回', (@review.new_record? ? @resource : @review), class: 'btn'
