%div.post
  %h4.pull-left
    = "#{@review.resource.title} 的评论 - #{@review.title}"

  %div.pull-right
    %div.reputations
      -if operable(@review)
        = link_to edit_review_path(@review) do
          %i.icon-edit
        %span.w5
        = link_to @review, method: :delete, confirm: '你确定要删除这条评论吗？'  do
          %i.icon-trash

  %br
  = link_to @review.user.name, @review.user
  在学
  = link_to @resource.title, @resource

  %br
  %small
    = @review.updated_at.local

  %hr.clear

%div.text
  = raw @review.content

%br.big

%br.big
.pull-right
  = collect_link(@review)
  &nbsp;
  =link_to vote_path(@review, 'useful'), remote: true, method: :post do
    %i.icon-thumbs-up
  %span.useful-count
    =@review.repute_count('useful')

  &nbsp;
  =link_to vote_path(@review, 'useless'), remote: true, method: :post do
    %i.icon-thumbs-down
  %span.useless-count
    =@review.repute_count('useless')
%br

%hr

=render 'comments/index', commentable: @review
=render 'comments/new', commentable: @review
