%div{class: "index-carousel"}
  %div{id: "Carousel#{title.hash}", class: "carousel slide"}

    /Carousel nav
    %div.carousel-nav
      %h3
        %small
          =title
      %ol.carousel-indicators
        - ((items.count + 4)/5).times.each do |index|
          %li{'data-target'=>"#Carousel#{title.hash}", 'data-slide-to' => index, class: ('active' if 0==index)}

      %a{class: 'carousel-control right left-side', href: "#Carousel#{title.hash}", 'data-slide'=>'prev'}
        &lsaquo;
      %a{class: 'carousel-control right', href: "#Carousel#{title.hash}", 'data-slide'=>'next'}
        &rsaquo;

    /Carousel items
    %div{class: "carousel-inner"}
      - items.each_slice(5).with_index do |(*arr), index|
        %div{class: (0 == index ? 'item active' : 'item')}
          - arr.each do |k|
            = link_to k do
              = image_tag k.image, class: 'normal'
              %br
              %h4
                =k.title
