- if @title.present?
  %h3
    = @title
  %hr

- if @nodes.present?
  #nodes
    - @nodes.each do |n|
      .profile
        = image_tag n.image, class: 'normal pull-left'
        .short-info
          %h3
            = n.title
          %br
          %p
            = n.description
        %hr.clear
    .pull-right
      = paginate @nodes
