- if @title.present?
  %h3
    = @title
  %hr

- if @nodes.present?
  #nodes
    - @nodes.each do |n|
      .profile
        .profile-left
          = link_to n do
            = image_tag n.image, class: 'normal pull-left'
        .short-info
          = link_to n do
            %h3 #{n.title}
          %br
          %p
            = raw n.description
        %hr.clear
    .pull-right
      = paginate @nodes
