%ul#top-leaves
  - if @items.present?
    - @items.each do |item|
      %li.inner
        = link_to item, target: '_blank' do
          %h4
            = item.title

        = link_to item.user, target: '_blank' do
          %h5
            = item.user.name

        = link_to item, target: '_blank' do
          %p.item-content
            = truncate(strip_tags(item.content), length: 250)

        %div
          写于
          = link_to item.itemable, target: '_blank' do
            = item.itemable.title

        %div
          = item.created_at.time_ago
